* {
    margin: 0;
    padding: 0;

    color: #e0def4;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #2a273f;
}
 
input {
    font-size: large;
    width: 100%;
    margin: 10px;
    background-color: #817c9c;
}

textarea {
    font-size: large;
    width: 100%;
    height: 50vh;
    margin: 10px;
    background-color: #817c9c;
}

.title {
    margin-bottom: 20px;
}

.container {
    height: 100vh;
    position: relative;
    margin: 0 25vw;

}

.center {
    margin-top: 10vh;
    text-align: center;
}

.lg-button {
    background-color: #907aa9;
    border: none;
    padding: 15px;
    text-align: center;
    display: inline-block;
}

@media only screen and (max-width: 1000px) {
    .container {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}
